@import '../../assets/global/variables';

section.generalcontactform {
    padding: 0 24px 32px;
    text-align: left;

    h3 {
        margin-bottom: 36px;
    }

    p {
        margin: 0 0 32px;
    }

    input, textarea {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        min-width: calc(100% - 32px);
        padding: 11px 16px;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
        letter-spacing: 0.04em;
        color: $dark-primary-font;
        border: 1px solid #000000;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin-bottom: 32px;

        &::placeholder {
            color: $dark-primary-font
        }

        &.has-error {
            border-color: red;
        }
    }
    
    textarea {
        margin-bottom: 24px;
        height: 116px; // 4x line height of 29
    }

    a.arrow-cta {
        font-family: 'Big Shoulders Display', sans-serif;
        justify-content: flex-start;
        padding-left: 16px;

        > img {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    section.generalcontactform {
        padding: 32px 0 100px;
    }
}

@media screen and (min-width: 1024px) {
    section.generalcontactform {
        max-width: 600px;
        padding: 96px 0;
        margin: 0 auto;
    }
}

.input-error {
    display: none;

    &-active {
        display: flex;
        color: red;
        font-size: 16px;
        line-height: 1;
        margin: -20px 0 20px 0 !important;
        padding: 0 !important;
    }
}

.request-response {
    text-align: left !important;
}
