main.contactpage {
    padding-bottom: 8px;

    > img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;

        &.horizontal {
            max-width: 325px;
            margin-top: 64px;
            margin-bottom: 64px;
        }

        &.sun-icon {
            max-width: 64px;
            margin: 36px auto;
        }

        &.logotype {
          max-width: 250px;
          margin: 36px auto;
        }

        &.symbol {
          max-width: 250px;
          margin: 36px auto;
          padding-left: 44px;
        }
    }

    p {
        padding: 0 24px;
        width: calc(100% - 48px);
    }

    .arrow-cta {
        margin-bottom: 24px;
    }

    @media screen and (min-width: 768px) {
        max-width: 704px;
        margin: 0 auto;
        padding: 0 32px;
    }
    
    @media screen and (min-width: 1024px) {
        max-width: 70vw;
        padding: 0;

        p {
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;

            &.extra-bottom, &.max-bottom {
                margin-bottom: 96px;
            }
        }

        > img {
            &.horizontal {
                width: 725px;
                max-width: unset;
            }
        }
    }
    
    @media screen and (min-width: 1440px) {
        max-width: 1008px;
    }
}

