@import '../../assets/global/variables';

.menuoverlay {
    background-color: $white-background;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 48px);
    height: calc(100vh - 230px);
    z-index: 9999;
    top: calc(-100vh);
    padding: 115px 24px 64px;
    transition: top 0.5s cubic-bezier(.57,.15,.27,.99);

    &-opened {
        top: calc(0vh + 56px);
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .arrow-cta {
            margin-bottom: 16px;
            justify-content: flex-start;
        }

        &-socials {
            margin-top: 64px;

            h2 {
                color: $dark-primary-font;
                text-align: left;
            }
    
            &-icons {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-top: 24px;
                font-size: 48px;
    
                a {
                    width: unset;

                    &:first-child {
                        margin-right: 24px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .menuoverlay {
        padding-left: 0;
        padding-right: 0;
        flex-direction: row;
        width: 100%;
        justify-content: center;

        &-content {
            width: 704px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .menuoverlay {
        display: none;
    }
}
